*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ADD8E6;
    padding: 1rem;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #DAA520;
    border: 3px dotted;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0.5rem;
    width: 20%;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0.5rem;
    width: 20%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    border-left: 3px dotted;
    border-right: 3px dotted;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
}

.link{
    padding: 0.25rem;
}

.jumbotron{
    background-color: #00008B;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
        .jumbotron-content{
            background-color: #EE82EE;
            width: 60%;
            height: 80%;
            border: 3px dotted;
        }
}

.invite_only{
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
        .invite_only-sxbox{
            background-color: #1E90FF;
            width: 50%;
            height: 80%;
            border: 3px dotted;
        }
        .invite_only-dxbox{
            background-color: #FFC0CB;
            width: 30%;
            height: 80%;
            border-right: 3px dotted;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
}

.community{
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    background-color: lightgrey;
        .community-sxbox{
            background-color: #1E90FF;
            width: 30%;
            height: 80%;
            border: 3px dotted;
        }
        .community-dxbox{
            background-color: #FFC0CB;
            width: 50%;
            height: 80%;
            border-right: 3px dotted;
            border-top: 3px dotted;
            border-bottom: 3px dotted;
        }
}